* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    display: grid;
    place-items: center;
    height: 100vh;
    /* flex-shrink: 0; */
}

.container {
    /* height: 700px;
    width: 400px; */
    height: 75vh;
    width: 45vh;
    background-color: lightslategray;
    display: flex;
    /* flex-shrink: 0; */
    border-radius: 12px;
    border: 2px solid black;
}

.display {
    background-color: blanchedalmond;
    height: 15%;
    width: auto;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 16px;
    /* margin: 16px 12px; maybe remove */
    border-radius: 6px;
    border: 2px solid grey;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.calculator {
    margin: 16px 12px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding-top: 16px;
}

button, .eq {
    background-color: lightgray;
    font-size: 32px;
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

.eq {
    width: 200px;
    border-radius: 2.5rem;
}