* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    display: grid;
    place-items: center;
    height: 100vh;
    /* flex-shrink: 0; */
}

.container {
    height: 800px;
    width: 500px;
    /* height: 75vh;
    width: 45vh; */
    background-color: lightslategray;
    display: flex;
    /* flex-shrink: 0; */
    border-radius: 12px;
    border: 2px solid black;
    margin: 5%;
}

.display {
    background-color: blanchedalmond;
    height: 15%;
    width: 100;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 8px;
    margin: 8px;
    /* margin: 16px 12px; maybe remove */
    border-radius: 6px;
    border: 2px solid grey;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    flex-wrap: wrap;
    word-wrap: break-word;
    /* box-sizing: content-box; */
}

.calculator {
    margin: 16px 12px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* gap: 25px; */
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding-top: 42px;
}

button, .eq {
    background-color: lightgray;
    font-size: 32px;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

.eq {
    width: 200px;
    border-radius: 2.5rem;
    font-size: 42px;
}

.division {
    font-size: 34px;
}

.eq:hover {
    background-color: lightgreen;
}

.clear:hover {
    background-color: lightcoral;
}

.operator:hover, .division:hover {
    background-color: aquamarine;
}

.result {
    font-size: 36px;
}